# 솔루션 및 프로젝트 파일
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
bikelent/*.sln
bikelent/*.vcxproj
bikelent/*.vcxproj.filters
bikelent/*.vcxproj.user

# Visual Studio 관련 폴더
.vs/
bikelent/.vs/

# 빌드 디렉터리
Debug/
bikelent/Debug/